
.name-setting{
    padding-top: 15%;
    padding-left: 28%;
    padding-right: 28%;
}

.home-button{
    padding-left: 35%;
    padding-top: 1.5%;
    padding-right: 35%;
    text-align: center;
}

.home-button .home-button-single{
    margin-bottom: 4%;
}

.home-button .home-button-single .prog-play{
    padding: 0 20% 0 20%;
}
